[v-cloak] {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}

.link-box {
    max-width: 100%;
}

.link-box .el-link__inner {
    overflow: hidden;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}